@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/
body {
    background-color:#FFFFFF;
    margin: 0px;
}
.bg-color-name-title {
    background-color: #676767;
}


.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-photos {
    background-color: #9b59b6;
}

.ui-menu-color-videos {
    background-color: #75FF33;
}

.ui-menu-color-audios {
    background-color: #505050;
}

.ui-menu-color-contact {
    background-color: #0000FF;
}




/*--------------------------------------------Special Paddings/Margins/Text*/

h1,
h2,
h3
{
    margin: 0;
}

.inline-block {
    display: inline-block;
}


.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin: 30px;
}
/*--------------------------------------------Heading*/

header {
    margin: 0;
}

.heading {
    margin-left: 40px;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: 50px;
    color: #ffffff;
    text-align: center;
    background: #1abc9c;
}



.title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
    color: #ffffff;
}

/*--------------------------------------------Menu*/
.menuitem {
    height: 120px;
    text-align: center;
    padding: 20px;
}

.menuitem a {
    width: 100%;
    color: #ffffff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #ffffff;
    font-size: 28px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3px;
}
/*--------------------------------------------center audio*/
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/*--------------------------------------------Footer*/
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin-top: 40px;
    margin-bottom: 0px;
}



.social-links {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
}

/*--------------------------------------------Photos*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
/*--------------------------------------------Contacts*/

.contact-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 90%;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ff0066;
    color: #fafafa;
}

/*--------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        padding:30px;
        float: none;
        display: inline-block;
    }

    .center-form {
        padding-top: 25px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 80%;
    }
}
